@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auth and Redirect</h1>
    <p class="lead">This is a small demo for Mr.Tie to illustrate mvc web service and redirect functionality .</p>
    <p>@Html.ActionLink("Try me", "Index", "Webservice",null,new { @class="btn btn-primary btn-lg"})</p>
</div>

